<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock-Paper-Scissor</title>
    <link rel="stylesheet" href="../static/index.css">
   
</head>
<body>
    <div>
        <h1>
            Lets Play
        </h1>
    </div>
    <div></div>
        <h1>
            Rock Paper Scissors
        </h1>
    </div>
    <div>
        <a href="{{url_for('basic')}}"><button><h1> The <br> Basic <br> Edition</h1></button></a>
        <a href="{{url_for('tbbt')}}"><button><h1> TBBT <br> Star Trek <br> Edition</h1></button></a>
    </div>
    <div>
        <h1>Rules</h1>
    </div>
    <div>
        <h3>
            <ul>
                <li>Rock crushes Scissors</li>
                <li>Rock crushes Lizard</li>
                <li>Paper covers Rock</li>
                <li>Paper disproves Spock</li>
                <li>Scissors cuts Paper</li>
                <li>Scissors decapitate Lizard</li>
                <li>Lizard eats Paper</li>
                <li>Lizard poisons Spock</li>
                <li>Spock vaporizes Rock</li>
                <li>Spock smashes Scissors</li>
            </ul>
        </h3>
    </div>
</body>
</html>